<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @cocktail.photo%>');">
	<div class="container">
		<h1><%= @cocktail.name %></h1>
	</div>
</div>
<div class="container my-3">
	<ul class="list-group">
		<% @doses.each do |d| %>
			<li class="list-group-item my-1">
				<h4><%= d.ingredient.name %></h4>
				<p><strong><%= d.description %></strong></p>
			</li>
		<% end %>
	</ul>
	<%= link_to 'Add dose', new_cocktail_dose_path(@cocktail), class: 'btn btn-primary mt-2' %>
</div>
</div>
